---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h3>{% if post.link %}
      	<a href="{{ post.link }}">{{ post.title }} <span class="link-arrow">&rarr;</span></a>
      {% else %}
      	<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}</h3>
      <div class="entry">
      {% if post.content contains site.excerpt_separator %}
  {{ post.excerpt }}</div>
  <p><a href="{{ post.url | relative_url }}">Read more</a></p>
{% else %}
  {{ post.content }}</div>
{% endif %}
    </article>
  {% endfor %}
</div>
