---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
    cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

// CS modifications

header h1 a,
header h1 a:visited {
  display: inline-block;
  width: 215px;
  height: 60px;
  color: #40404f;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 60px;
  letter-spacing: 0.35em;
  text-decoration: none;
}

h1 {
  text-rendering: optimizeLegibility;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 18px;
} 

header h1 span {
    display: none;
}

header h1 strong {
    color: #ff2233;
    font-weight: 900;
}

.site-desc {
    color: #c0c0c0;
    font-size: 0.8em;
    font-style: normal;
    font-family: Cambria;
    font-weight: 300;
    display: inline-block;
    width: 200px;
    height: 60px;
}

nav {
  float: right;
  margin-top: 23px; 
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
}
