---
---

//
// IMPORTS
//

@import "reset";
// Syntax highlighting @import is at the bottom of this file

//
// VARIABLES
//

// Colors
$blue: #8e9fbb;
$grey: #8e8e93;
$darkGrey: #262526;
$ghostWhite: #f4f6f6;
$medGrey: #597884;
$paleBlue: #40404f;

// Roles
$primary: $blue;
$secondary: $medGrey;
$text: $ghostWhite;

$text-light: #555;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}


body.dark-mode {
  background: $darkGrey;
  font: 12pt $helvetica;
  color: $text;
}

body.light-mode {
  background: $ghostWhite;
  font: 12pt $helvetica;
  color: $text-light;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  font-weight: bold;

  line-height: 1.2;
  margin: 20px 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.2;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16pt !important;
  font-weight: 100;
}

h4 {
  font-size: 18px;
  color: $grey;
}

p {
  margin: 15px 0;
  font-size: 12pt;
}

a {
  color: $blue;
  text-decoration: none;
    cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

// CS modifications

header h1 a,
header h1 a:visited,
header h3 a,
header h3 a:visited  {
  display: block;
  color: $paleBlue;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  text-decoration: none;
  margin-bottom: 0px;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-family: $helveticaNeue;
  font-size: 24px;
  text-align: center;
}

header h1 span {
    display: none;
}

header h1 strong {
    color: $blue;
    font-weight: 900;
}

.site-desc {
    color: $grey;
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    text-align: center;
    letter-spacing: 0.43em;
}

nav {
  font-family: $helvetica;
  font-size: 10pt;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 50em;
  letter-spacing: 0.1em;
  width:100%;
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
    vertical-align: middle;
  }
}

.container {
  margin: 0 auto;
  max-width: 40em;
  padding: 0 10px;
  width: 100%;
  line-height: 1.5;
  font-weight: 100;
}


html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

blockquote {
  border-left: 1px #8e8e93 solid;
  margin-left: 10px;
  color: #8e8e93;
  padding-left: 10px;
  font-size: 0.9em;
}

.date, a.date {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.9em;
  color: #8e8e93;
  margin-bottom: 40px;
}

.date:after {
 background-color: #333;
 background: linear-gradient(to right, #818078, transparent);
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 75%;
 left: 0.5em;
 margin-right: -50%;
}
