---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file


html {
  
}

body {
  background: $darkGrey;
  font: 14px $helvetica;
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  font-weight: bold;

  line-height: 1.2;
  margin: 20px 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.2;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $grey;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
    cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

// CS modifications

header h1 a,
header h1 a:visited {
  display: block;
  color: #40404f;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  text-decoration: none;
  margin-bottom: 0px;
}

h1 {
  font-family: $helveticaNeue;
  font-size: 24px;
  text-align: center;
}

header h1 span {
    display: none;
}

header h1 strong {
    color: $blue;
    font-weight: 900;
}

.site-desc {
    color: $grey;
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    height: 40px;
    text-align: center;
    letter-spacing: 0.43em;
}

nav {
  float: right;
  font-family: $helvetica;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 60px;
  height: 60px;
  text-decoration: none;
  display: inline-block;
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}
